.limite{
    max-width: 170px;
}

.quadrado{
    height: 170px;
    width: 170px;
    background-color: #ccc;
}

.quadrado img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-weight: 500;
}