<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="m-0">Todos os produtos</h3>
            <button class="btn btn-primary rounded-0 px-4 py-2">
                Adicionar produto
            </button>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
            <app-caixinha-edicao nomeProduto="Produto XYZ"></app-caixinha-edicao>
        </div>
    </div>
</div>
