.logo{
    color: #575757;
    font-size: 1.8rem;
    font-weight: bold;
}
.logo svg{
    width: 50px;
    height: 50px;
    color: #219ebc;
}
.logo span{
    color: #219ebc;
}
.search input{
    background-color: #f2f2f2;
    padding: 5px 15px;
    width: 350px;
}
.search svg{
    height: 13px;
    margin-top: -4px;
    margin-left: -30px;
}
.btn-login{
    border: 1px solid #219ebc;
    background-color: #fff;
    color: #219ebc;
    padding: 10px 65px;
}
.btn-login:hover{
    background-color: #219ebc;
    color: #fff;
    transition: 0.4s;
}