<div class="container-fluid bg-light py-5">
    <div class="col-3 mx-auto py-5 text-center">
        <h5 class="mb-3">Iniciar Sessão</h5>
        <div class="form-floating mb-3 text-secondary">
            <input type="email" class="form-control rounded-0 border-0 border-bottom" 
                    id="email" placeholder="Escreva seu email">
            <label for="email">Escreva seu email</label>
        </div>
        <div class="form-floating mb-3 text-secondary">
            <input type="password" class="form-control rounded-0 border-0 border-bottom" 
                        id="senha" placeholder="Escreva sua senha">
            <label for="senha">Escreva sua senha</label>
        </div>
        <button routerLink="/catalogo" class="btn btn-custom w-100 py-3 rounded-0">Entrar</button>
    </div>
</div>