.hero{
    padding-top: 120px;
    padding-bottom: 20px;
}

.bg-hero{
    background: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80)
                center no-repeat,
                #0003;
    background-size: cover;
    background-blend-mode: overlay;
}

.ver-tudo{
    text-decoration: none;
    font-weight: 600;
}

.ver-tudo svg{
    margin-left: 5px;
    margin-top: -3px;
}

.btn-footer{
    background-color: #219ebc;
    border: 1px solid #219ebc;
    color: #fff;
    padding: 10px 15px;
    transition: 0.2s;
}
.btn-footer:hover{
    background-color: #42b9d7;
}
