<div class="container-fluid bg-hero">
    <div class="container hero text-white">
        <h1>
            Dezembro promocional
        </h1>
        <p class="fw-bolder">
            Produtos selecionados com até 33% de desconto
        </p>
        <button class="btn-footer">
            Ver consoles
        </button>
    </div>
</div>

<div class="container my-5" *ngFor="let categoria of categorias">
    <div class="d-flex 
                align-items-center justify-content-between">
        <h4>{{categoria.nome}}</h4>
        <a href="" class="ver-tudo">
            Ver tudo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <div *ngFor="let produto of categoria.produtos">
            <app-caixinha [prod]="produto" routerLink="/produto/{{produto.idProduto}}" role="button"></app-caixinha>
        </div>
    </div>
</div>