<div class="container-fluid bg-hero">
    <div class="container hero text-white">
        <h1>
            Dezembro promocional
        </h1>
        <p class="fw-bolder">
            Produtos selecionados com até 33% de desconto
        </p>
        <button class="btn btn-primary">
            Ver consoles
        </button>
    </div>
</div>

<div class="container my-5" *ngFor="let categoria of categorias">
    <div class="d-flex 
                align-items-center justify-content-between">
        <h4>{{categoria.nome}}</h4>
        <a href="">Ver tudo -></a>
    </div>
    <div class="d-flex justify-content-between">
        <div *ngFor="let produto of categoria.produtos">
            <app-caixinha [prod]="produto"></app-caixinha>
        </div>
    </div>
</div>